body {
display: flex;
flex-direction: column;
height: 100vh;
justify-content: center;
align-items: center;
background-image: linear-gradient(#A1BAFE, 
#8D5185);
overflow: hidden;
}

.container {
    width: 35px;
    height: 20px;
   padding: 8px;
    background-color: white;
   text-align: center;
    transition: width 0.5s;
   position: relative
}

.containerClicked {
    width: 295px;
}

.lupica {
    font-size: 20px;
    cursor: pointer;
    transform: translateX(0px);
    transition: transform 0.5s;
}

.lupicaNaKraj {
    transform: translateX(130px);
}

.search {
    width: 50%;
    font-size: 16px;
    position: absolute;
    top: 23%;
}

.hidden {
    display: none;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color:white;
  }

  .no-outline:focus {
    outline: none;
  }

  textarea:focus, input:focus{
    outline: none;
}

@media only screen and (max-width: 600px) {
    body {
        overflow: initial;
    }

    a {
        background-color: transparent;
      }
  }